<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online Appointment</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">   
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav class="navbar bg-dark px-5">    
 
          <ul class="navbar-nav ">
            <li><a href="/">Logo Here</a></li>                    
          </ul> 
  

        {{#if loggedIn}}
           <ul>
            <li  class="nav-item"><a href="/">Dashboard</a></li>            
             <li  class="nav-item"><a id="logout" href="#" class="btn-no-style">Logout</a></li>
          </ul>
        {{else}}        
       <ul>
         <li  class="nav-item"><a href="/">Dashboard</a></li>
         <li  class="nav-item"><a href="/">Login</a></li>
         <li  class="nav-item"><a href="/">Register</a></li>
       </ul>
        {{/if}}

      </nav>
  </header>
   <main class="mt-auto">
      {{{ body }}}
    </main>

     <footer class="bg-dark px-5">
     Footer content here!!!
    </footer>
</body>
</html>