<section class="our_mission">
  <div>
    <h1>Our Mission</h1>
  </div>
  <p>Mental Health includes one’s psychological, emotional and social well-being
    – one’s mental health affects how they think, feel and act. It also helps in
    determining how one handles stress, makes choices and relates to others.
    Mental health can affect one’s daily life activities, relationships and
    physical health. Mental health refers to the condition of cognitive and
    behavioural well-being. Sometimes the term ‘mental health’ is used to
    determine the absence of a mental disorder. It is the condition of
    well-being whereby each person realizes their potential and can deal with
    life changes and uncertainty. al well-being. Sometimes the term ‘mental
    health’ is used to determine the absence of a mental disorder. It is the
    condition of well-being whereby each person realizes their potential and can
    deal with life changes and uncertainty. Proper mental health results in the
    proper mental functioning that result in being productive in activities,
    healthy and fulfilling relationships with other people and having the
    ability to cope and adapt to adversity. Proper mental health is essential in
    every stage of life – from childhood and teenage to adulthood. Throughout a
    lifetime, an individual can experience mental health issue at any point.
    This affects not only their mood and behaviour but also changes their way of
    thinking, of looking at life and facing challenges.</p>
  <p>Hence Our team has developed a platform known as Online Therapy to get help
    regarding mental health through our special team of doctors which will help
    you get better. Just remember you are more precious to this world than
    you'll ever know.</p>
</section>
<section class="developers">
  <h1>Meet Our Team</h1>
  <div class="row">
    <div class="col-lg-4">
      <img src="/images/honey.jpg" />
      <p>Honey Sanghani</p>
      <p>Frontend Developer</p>
    </div>
    <div class="col-lg-4">
      <img src="/images/jay.jpg" />
      <p>Jay Sarmiento</p>
      <p>Frontend Developer</p>
    </div>
    <div class="col-lg-4">
      <img src="/images/harvinder.jpg" />
      <p>Harvinder Shah</p>
      <p>Front-end Developer</p>
    </div>
    <div class="col-lg-4">
      <img src="/images/adi.jpg" />
      <p>Adi Wee</p>
      <p>Backend Developer</p>
    </div>
    <div class="col-lg-4">
      <img src="/images/abi.jpg" />
      <p>Abison Vijayakanthan</p>
      <p>Backend Developer</p>
    </div>
    <div class="col-lg-4">
      <img src="/images/charles.jpg" />
      <p>Charles Dawkins</p>
      <p>Frontend Developer</p>
    </div>

  </div>
</section>