<div id="background">

  <div id="hero">

    <h1> Welcome to Our Online Clinic</h1>
    <br>

    <p id="herop">Your well being is our top priority. We are actively engaged in your well-being and want to empower
      you to discover the resources you need to feel and do your best.
      Whether it’s a bad day, a break-up, a life changing event or an urgent crisis, we are always here and can help you
      take your first step on your health journey.</p>



    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_GZVTNZ.json" speed="1" loop autoplay class="main-animation"></lottie-player>

    <p id="heropi"><i>"A journey of a thousand miles begins with a single step"</i></p>

  </div>




  <div class="arrow">
    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_2g9Ilr.json" speed="1" loop autoplay class="arrow-left"></lottie-player>
    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_2g9Ilr.json" speed="1" loop autoplay class="arrow-right"></lottie-player>

  </div>

  <div id="buttons">
    <a id="patient" href="client-login.handlebars">Patients Click Here</a>
    <a href="/doctors-login" id="doctor">Doctors Click Here</a>

  </div>


</div>


<div id="profiles">

  <div id="hero2">

    <p> Our Doctors:</p>

  </div>


  <div class="group">

    <div class="cardh">
      <img src="../images/strange.jpg" style="width:100%">
      <h1>Dr. Stephen Strange</h1>
      <p class="title">Mental Health Expert</p>
      <p>Dr. Strange M.D., Ph.D is a certified neurosurgeon and mental therapist.
        Using ancient techniques that many people consider akin to magic, he can cure any mental illness and addiction.
      </p>
      <p><i>"Forget everything that you think you know."</i></p>

      <div style="font-size: 20px;">
        <a href="https://twitter.com/DrStrange?s=20"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/doctor-strange-11bb30126/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/DoctorStrangeOfficial/"><i class="fab fa-facebook"></i></a>
      </div>

    </div>


    <div class="cardh">
      <img src="../images/joker.jpg">
      <h1>Dr. Joker</h1>
      <p class="title">Psychotherapist</p>
      <p>Dr. Joker is a retired politician and experienced orator, having led a political movement to protest government
        corruption.</p>
      <p> Dr. Joker has over six years of experience providing individual, group, and family therapy.</p>
      <p><i>“Why so serious? Let’s put a smile on that face!” </i></p>
      <div style="font-size: 20px;">
        <a href="https://twitter.com/heathlegend?lang=en"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/joaqu%C3%ADn-phoenix-410877128/?originalSubdomain=nz"><i
            class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/Heath.Ledgerr/"><i class="fab fa-facebook"></i></a>
      </div>

    </div>


    <div class="cardh">
      <img src="../images/shultz.jpg">
      <h1>Dr. Shultz</h1>
      <p class="title">Marriage Counsellor</p>
      <p>Dr. King Shultz is a practicing dentist and licensed marriage counsellor. He has gotten many couples through
        their lowest times despite all odds.
        Schultz has a soft heart in a hard world, and strives to make the world a better place one conflict at a time.
      </p>
      <p><i>"You silver-tongued devil, you"</i></p>

      <div style="font-size: 20px;">
        <a href="https://twitter.com/unchainedmovie?lang=en"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/king-schultz-a940aa1b2/?trk=public_profile_browsemap"><i
            class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/kin.shultz"><i class="fab fa-facebook"></i></a>
      </div>
    </div>

  </div>

  <div class="group">

    <div class="cardh">
      <img src="../images/mercy.jpg">
      <h1>Dr. Angela Ziegler</h1>
      <p class="title">Doctor</p>
      <p>Dr. Ziegler is a peerless healer and brilliant scientist. She is one of the most gifted doctors in the world
        when it comes to medical technology
        and applies healing stream treatments through nanobots.</p>

      <p><i>"Take a deep breath. Now, let's achieve our objectives!"</i></p>

      <div style="font-size: 20px;">
        <a href="https://twitter.com/mercywatchover?lang=en"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/mercy-ziegler-567317149/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/Meroverwatch/"><i class="fab fa-facebook"></i></a>
      </div>

    </div>


    <div class="cardh">
      <img src="../images/freeman.jpg">
      <h1>Dr. Gordon Freeman</h1>
      <p class="title">Physical Health Expert, PTSD psychologist </p>
      <p>Dr. Freeman, Ph.D, is a retired combat veteran. A man of very few words, his speciality is in promoting
        exercise and physical activity to heal the body.
        As an experienced combat veteran, he is more than qualified to treat symptoms of PTSD.</p>

      <p><i>"The right man in the wrong place can make all the difference in the world."</i></p>

      </p>

      <div style="font-size: 20px;">
        <a href="https://twitter.com/_gordonfreeman?lang=en"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/gordon-freeman-5823ba1a/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/gordon.freeman.351756"><i class="fab fa-facebook"></i></a>
      </div>

    </div>

    <div class="cardh">
      <img src="../images/alexa.jpg">
      <h1>Alexa</h1>
      <p class="title">Robot A.I</p>
      <p>Alexa is our newest generation fully self aware A.I. She will be able to detect your mood and mental state
        and deliver an appropriate response based on the latest data from mental health experts.</p>

      <p><i>"This is so sad, Alexa play Despacito"</i></p>
      <div style="font-size: 20px;">
        <a href="https://twitter.com/alexa99?s=20"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/showcase/amazon-alexa-developers/"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.facebook.com/AmazonAlexa/"><i class="fab fa-facebook"></i></a>
      </div>

    </div>

  </div>

</div>