

<div id = "background">
    
    <div id ="hero">

        <p> Welcome to Our Online Clinic</p>

    </div>

    <div id="description">  

    </div>    

</div>
    
    <div id ="patients">

    <a href="#">New Patients Click Here</a>

    </div>

    <div id ="doctors">

    <a href="#">Doctors Click Here</a>

    </div>


<div id = "profiles">

    <div id ="hero">

        <p> Our Doctors:</p>

    </div>

    <div id = doctor1></div> 
    <div id = doctor2> </div>
    <div id = doctor3></div> 
    <div id = doctor4> </div>
    <div id = doctor5> </div>

</div>
