<div id="background">

    <div id="hero">

        <p> Welcome to Our Online Clinic</p>

    </div>

    <div id="description">

    </div>

</div>

<div id="patients">

    <a href="#">Patients Click Here</a>

</div>

<div id="doctors">

    <a href="#">Doctors Click Here</a>

</div>


<div id="profiles">

    <div id="hero">

        <p> Our Doctors:</p>

    </div>





<div>

    <div class="card">
        <img src="../images/strange.jpg" width="300" height="400">
        <h1>Dr. Stephen Strange</h1>
        <p class="title">Mental Health Expert</p>

        <div style="font-size: 20px;">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

    </div>


    <div class="card">
        <img src="../images/dooku.png" style="width:100%">
        <h1>Dr. Dooku</h1>
        <p class="title">Psychotherapist</p>
        <p>Dr. Dooku is a retired politician and experienced orator, having led a political movement to protest government corruption.</p>
        <p> Dr. Dooku has over six years of experience providing individual, group, and family therapy.</p>
        <p><i>"It doesn't get easier, you just get stronger."</i></p>
        <div style="font-size: 20px;">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

    </div>


    <div class="card">
        <img src="../images/shultz.jpg" width="300" height="400">
        <h1>Dr. Shultz</h1>
        <p class="title">Marriage Counsellor</p>

        <div style="font-size: 20px;">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
    </div>

</div>

<div>

    <div class="card">
        <img src="../images/mercy.jpg" width="300" height="400">
        <h1>Dr. Angela Ziegler</h1>
        <p class="title">Psychotherapist</p>

        <p><i>"Take a deep breath. Now, let's achieve our objectives!"</i></p>

        <div style="font-size: 20px;">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

    </div>


    <div class="card">
        <img src="../images/freeman.jpg" width="300" height="400">
        <h1>Dr. Gordon Freeman</h1>
        <p class="title">Mental Health Expert</p>

        <div style="font-size: 20px;">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

    </div>

    <div class="card">
        <img src="../images/alexa.jpg" width="300" height="400">
        <h1>Alexa</h1>
        <p class="title">Robot A.I</p>
        <p>Alexa is our newest generation fully self aware A.I. She will be able to detect your mood and mental state
            and deliver an appropriate response based on the latest data from mental health experts.</p>

        <p><i>"This is so sad, Alexa play Despacito"</i></p>
        <div style="font-size: 20px;">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>

    </div>

</div>

</div>
