:root {
  --danger-color: #dc3545;
  --white-color: #fff;
  --darkgray-color: #444;
  --mediumgray-color: #888888;
  --lightmedgray-color: #777;
  --lightgray-color: #ddd;
  --footer-bgcolor: #3a3a3d;
  --footer-btn: #66667a;
  --nav-gradient: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*-------------Layout-------------*/
body {
  /* line-height: 1.5em; */
  padding: 0;
  margin: 0;
  width: 100%;
}
/*-------------Nav-------------*/
#nav-container {
  position: sticky !important;
  top: 0;
  z-index: 1;
}
#navigation {
  background: linear-gradient(var(--nav-gradient), var(--footer-bgcolor));
  color: var(--white-color);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  display: flex;
  align-items: center;
}
#navigation.nav-visible {
  height: 100%;
  overflow: auto;
}
.left,
.right {
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
  font-family: "Koh Santepheap", cursive;
}
.nav-links,
.logo {
  padding: 0 1em;
}
h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 2em;
  color: var(--white-color);
}
h1.logo a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: var(--white-color);
}
.nav-links {
  text-transform: uppercase;
  text-align: center;
  border-top: none;
  font-size: 1.5em;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--white-color);
}
a:hover {
  text-decoration: underline;
}
.right {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
  left: 1.5em;
  height: auto;
}
.nav-link-span {
  display: inline-block;
}
.nav-links {
  color: var(--lightmedgray-color);
  text-decoration: none;
}
a:hover.nav-links:not(.active) {
  color: var(--darkgray-color);
  background: var(--lightgray-color);
  text-decoration: none;
}
.burger {
  margin-right: 20px;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--white-color);
  margin: 5px;
  border-radius: 1px;
  transition: all 0.3s ease;
}
/*to transform the lines of the menu*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  .right {
    position: absolute;
    height: 92vh;
    right: 0;
    left: auto;
    top: 4em;
    background: linear-gradient(var(--nav-gradient), var(--footer-bgcolor));
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    opacity: 0;
    width: 50%;
    z-index: -1;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .right a {
    opacity: 0;
    margin-bottom: 25%;
  }
  .right a:hover {
    padding: 0 100%;
  }
}
.nav-active {
  transform: translateX(0);
  opacity: 1;
}

/* style for footer*/
footer {
  margin-top: 5%;
  background: var(--footer-bgcolor);
  padding: 1% 10%;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}
footer h3 {
  text-align: center;
  color: var(--mediumgray-color);
  font-family: "Koh Santepheap", cursive;
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
}
footer form {
  margin-top: 4%;
  align-content: center;
}
footer form .name,
.email {
  width: 30%;
  align-self: center;
  height: 30px;
  background: var(--footer-bgcolor);
  border: none;
  border-bottom: 2px solid var(--mediumgray-color);
  font-size: 20px;
}
.name {
  margin-right: 1%;
}
footer form textarea {
  align-self: center;
  margin-top: 2%;
  border: none;
  border-bottom: 2px solid var(--mediumgray-color);
  background: var(--footer-bgcolor);
  font-size: 20px;
  width: 62%;
}
footer form .btn {
  color: var(--mediumgray-color);
  padding: 10px;
  background: var(--footer-bgcolor);
  border: 2px solid var(--mediumgray-color);
  margin-top: 3%;
}
.details {
  color: var(--mediumgray-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.details a {
  color: var(--mediumgray-color);
}
.btn:hover {
  background-color: var(--mediumgray-color);
  color: #313840;
}
.name,
.email,
.message {
  color: var(--white-color);
}
.name,
.email,
.message:focus {
  outline: none;
}
.details a:hover {
  text-decoration: none;
  color: var(--mediumgray-color);
}
@media screen and (max-width: 700px) {
  .name,
  .email,
  .message {
    width: 80% !important;
  }
  .name {
    margin-right: 0;
  }
  .email,
  .name {
    margin-top: 20px;
  }
  .message {
    margin-top: 10px;
  }
}
/*about css*/
.about_hero {
  background: url("../images/online_therapy.jpg") no-repeat center center/cover;
  height: 580px;
}
.our_mission {
  margin: 10px 10%;
  border-bottom: 2px solid #313840;
}
section {
  text-align: center;
}
.our_mission p {
  text-align: justify;
  font-size: 1.5em;
}
.developers div img {
  border-radius: 100%;
  width: 48%;
}

/* Adi */
#hero {
  margin: 0 10%;
  font-weight: bolder;
  text-align: center;
}
#hero h1 {
  font-weight: bold;
  padding-top: 5%;
  font-size: 3em;
}

#hero2 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

#herop {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  margin-top: 5%;
}

#heropi {
  font-size: 20px;
  text-align: center;
}

#profiles {
  padding-top: 50px;
}

#background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#buttons {
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 110px;
}

#buttons a:link,
a:visited {
  background: linear-gradient(var(--nav-gradient), var(--footer-bgcolor));
  color: rgb(236, 236, 236);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#buttons a:hover,
a:active {
  background: linear-gradient(var(--nav-gradient), var(--footer-btn));
  color: rgb(236, 236, 236);
}

#patient {
  margin-right: 10%;
  font-size: 1em;
  margin-left: auto;
}
#doctor {
  font-size: 1em;
  margin-right: auto;
}

body {
  background: linear-gradient(to left, #dbdbdb, #ecc8c8);
}
.group {
  display: flex;
  align-content: center;
  width: 100%;
}

.cardh {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  background: linear-gradient(to right, #dbdbdb, #fafafa);
  padding: 2%;
  margin: 5% auto;
}
.cardh img {
  width: 16rem;
  height: 20rem;
}
.links {
  font-size: 20px;
}

.title {
  color: grey;
  font-size: 18px;
  text-align: center !important;
}

.cardh p {
  text-align: left;
}

.cardh div a {
  color: black;
}
.arrow {
  display: flex;
}
.arrow-left {
  width: 14rem;
  height: 14rem;
  background: transparent;
  margin-left: auto;
  margin-right: 15%;
}
.arrow-right {
  background: transparent;

  width: 14rem;
  height: 14rem;
  margin-right: auto;
}

/* for login and register */
.login_now {
  color: #777 !important;
}
.login_now:hover {
  text-decoration: none;
  color: #313840;
}
.register_now {
  color: #777 !important;
}
.register_now:hover {
  text-decoration: none;
  color: #313840;
}
.login,
.register {
  margin: 0 auto;
}

/* main animation */
.main-animation {
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
  background: transparent;
}

@media screen and (max-width: 1100px) {
  .cardh img {
    width: 14rem;
    height: 18rem;
  }
}
@media screen and (max-width: 320px) {
  .arrow-left,
  .arrow-right {
    width: 5rem;
    height: 5rem;
  }
  #doctor,
  #patient {
    font-size: 0.5em;
    padding: 5px 10px !important;
  }
}
