/* Global Styles */
/* :root {
  --primary-color: #03a9f4;
  --dark-color: #000000;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #000;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  transition: color 0.1s;
  opacity: 0.9;
}

ul {
  list-style: none;
}

.navbar {
  min-height: 10vh;
}
.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}

footer {
  width: 100%;
  min-height: 10vh;
  position: absolute;
  bottom: 0;
  color: #fff;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*-------------Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}
.un-skew {
  transform: skew(20deg);
}
  /*-------------Nav-------------*/
  #nav-wrapper {
      position: sticky !important;
      top: 0;
      z-index: 1;
    }
    #nav {
      background: linear-gradient(#141414, #3a3a3d);
      color: white;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: row;
      font-family: "Saira Semi Condensed", sans-serif;
      height: 4em;
      overflow: hidden;
      align-items: center;
    }
    #nav.nav-visible {
      height: 100%;
      overflow: auto;
    }
    .nav {
      display: flex;
      height: 4em;
      line-height: 4em;
      flex-grow: 1;
      font-family: 'Koh Santepheap', cursive;
    }
    .nav-link, .logo {
      padding: 0 1em;
    }
    h1.logo {
      font-weight: 300;
      font-size: 1.75em;
      line-height: 0.75em;
      color: #fff;
    }
    h1.logo a, a:active, a:hover, a:visited {
      text-decoration: none;
      color: #fff;
    }
    .nav-link {
      text-transform: uppercase;
      text-align: center;
      border-top: none;
       font-size: 1.5em;
    }
    a:link, a:visited, a:active {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
    .right {
      display: flex;
      overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    /* position: relative; */
    left: 1.5em;
    height: auto;
    }
    .nav-link-span {
      display: inline-block;
    }
    .nav-link {
      /* transform: skew(-20deg); */
      color: #777;
      text-decoration: none;
    }
    a:hover.nav-link:not(.active) {
      color: rgb(255, 255, 255);
      background: linear-gradient(#141414, #66667a);
      text-decoration: none;
    }
    .burger{
        margin-right: 20px;
        display: none;
    }
    .burger div{
      width: 25px;
      height: 3px;
      background-color:white;
      margin: 5px;
      border-radius: 1px;
      transition: all 0.3s ease;
  }
/*to transform the lines of the menu*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}
@media screen and (max-width:850px) {
  body{
      overflow-x: hidden;
  }
  .right{
      position: absolute;
      height:50vh;
      right: 0;
      left: auto;
      top:8vh;
      background: linear-gradient(#141414, #3a3a3d);
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(100%);
      opacity: 0;
      width: 50%;
  }
  .burger{
      display: block;
      cursor: pointer;
  }
  .right a{
      opacity: 0;
      margin-bottom: 10px;
  }
  .right a:hover{
    padding:0 100%;
  }
}
.nav-active{
  transform: translateX(0);
  opacity: 1;
}

/* style for footer*/
footer{
      margin-top: 5%;
      background: linear-gradient(#141414, #3a3a3d);
      padding: 1% 10%;
      text-align: center;
      width: 100%;
}
footer h3{
    text-align: center;
    color: #888888;
    font-family: 'Koh Santepheap', cursive;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}
footer form{
    margin-top: 4%;
    align-content: center;
}
footer form .name, .email{
    width:30%;
    align-self:center;
    height: 30px;
    background: linear-gradient(#141414, #3a3a3d);
    border: none;
    border-bottom:2px solid #888888;
    font-size: 20px;
}
.name{
    margin-right: 1%;
}
footer form textarea{
    align-self: center;
    margin-top: 2%;
    border: none;
    border-bottom:2px solid #888888;
    background: linear-gradient(#141414, #3a3a3d);
    font-size: 20px;
    width: 62%;
}
footer form .btn{
    color: #888888;
    padding: 10px;
    background: linear-gradient(#141414, #3a3a3d);
    border:2px solid #888888;
    margin-top: 3%;
}
.details{
    color: #888888;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.details a{
    color: #888888;
}
.btn:hover{
  background-color:#888888;
  color: #313840;
}
.name, .email, .message{
  color: white;
}
.name, .email, .message:focus{
  outline: none;
}
.details a:hover{
  text-decoration: none;
  color: #888888;
}
@media screen and (max-width:700px) {
  .name, .email, .message{
    width: 80% !important;
  }
  .name{
    margin-right: 0;
  }
  .email, .name{
    margin-top: 20px;
  }
  .message{
    margin-top: 10px;

  }
}
/*about css*/
.about_hero{
  background: url("../images/online_therapy.jpg") no-repeat center center/cover;
  height: 580px;
}
.our_mission{
    margin:10px 10%;
    border-bottom: 2px solid #313840;
}
section{
    text-align: center;
}
.our_mission p{
    text-align: justify;
    font-size: 1.5em;
}
.developers div img{
    border-radius: 100%;
}




/* Adi */



#hero {

  padding:20px 0px 100px;
  font-size:50px;
  font-weight: bolder;
  text-align: center;
}

#hero2{

  font-size:50px;
  font-weight: bolder;
  text-align: center;
}

#herop{
  font-size:30px;
  font-weight: bolder;
  text-align: center;

}

#profiles {
  padding-top: 150px;
  
  
}

#background {
  
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  


}



#patients {


  /* float: left; */
  display: flex;
  margin-left: 100px;
  font-size:30px;
  font-weight: bolder;
  margin-top: 50px; 
  margin-left: 300px;
  padding-bottom: 110px;
 

}

#patients a:link, a:visited

{
    background: linear-gradient(#141414, #3a3a3d);
    color: rgb(236, 236, 236);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  #patients a:hover, a:active
  {
    background: linear-gradient(#141414, #66667a);
    color: rgb(236, 236, 236);
}

#patient1 {

  margin-right: 700px;

}
  
body {
  
  background: linear-gradient(to left,#dbdbdb, #ecc8c8);

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 800px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: linear-gradient(to right,#dbdbdb, #fafafa);
  
  
  padding: 40px;

}

.title {
  color: grey;
  font-size: 18px;
  text-align: center !important;
}

.card p{
  text-align: left;

}

.group{
  display: flex;
  margin: 50px;
}

.card img{

  width: 300px;
  height: 400px;
}

.card div a{

  color: black;

}