*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  html {
    scroll-behavior: smooth;
  }
  /*-------------Layout-------------*/
  body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
  }
  /*-------------Helpers-------------*/
  .skew {
    transform: skew(-20deg);
  }
  .un-skew {
    transform: skew(20deg);
  }
    /*-------------Nav-------------*/
    #nav-wrapper {
        position: sticky !important;
        top: 0;
        z-index: 1;
      }
      #nav {
        background-color: #4ca1af;
        color: white;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        font-family: "Saira Semi Condensed", sans-serif;
        height: 4em;
        overflow: hidden;
        align-items: center;
      }
      #nav.nav-visible {
        height: 100%;
        overflow: auto;
      }
      .nav {
        display: flex;
        height: 4em;
        line-height: 4em;
        flex-grow: 1;
        font-family: 'Koh Santepheap', cursive;
      }
      .nav-link, .logo {
        padding: 0 1em;
      }
      h1.logo {
        font-weight: 300;
        font-size: 1.75em;
        line-height: 0.75em;
        color: #fff;
      }
      h1.logo a, a:active, a:hover, a:visited {
        text-decoration: none;
        color: #fff;
      }
      .nav-link {
        text-transform: uppercase;
        text-align: center;
        border-top: none;
         font-size: 1.5em;
      }
      a:link, a:visited, a:active {
        text-decoration: none;
        color: white;
      }
      a:hover {
        text-decoration: underline;
      }
      .right {
        display: flex;
        overflow: hidden;
      flex-direction: row;
      justify-content: flex-end;
      /* position: relative; */
      left: 1.5em;
      height: auto;
      }
      .nav-link-span {
        display: inline-block;
      }
      .nav-link {
        /* transform: skew(-20deg); */
        color: #777;
        text-decoration: none;
      }
      .nav-link:last-child {
        padding-right: 3em;
      }
      a:hover.nav-link:not(.active) {
        color: #444;
        background: #ddd;
      }
      .burger{
          margin-right: 20px;
          display: none;
      }
      .burger div{
        width: 25px;
        height: 3px;
        background-color:white;
        margin: 5px;
        border-radius: 1px;
        transition: all 0.3s ease;
    }
/*to transform the lines of the menu*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@media screen and (max-width:850px) {
    body{
        overflow-x: hidden;
    }
    .right{
        position: absolute;
        right: 0px;
        height:50vh;
        top:8vh;
        background-color:#4ca1af;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        transform: translateX(100%);
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .right a{
        opacity: 0;
    }
}
.nav-active{
    transform: translateX(0);
}

  /* style for footer*/
  footer{
        margin-top: 5%;
        background-color: #313840;
        padding: 1% 10%;
        text-align: center;
        /* position: absolute;
        bottom: 0; */
  }
  footer h1{
      text-align: center;
      color: #888888;
      font-family: 'Koh Santepheap', cursive;
      font-family: 'Playfair Display', serif;
  }
  footer form{
      margin-top: 4%;
  }
  footer form .name, .email{
      width:30%;
      align-self:center;
      height: 30px;
      background-color: #313840;
      border: none;
      border-bottom:2px solid #888888;
      font-size: 20px;
  }
  .name{
      margin-right: 2%;
  }
  footer form textarea{
      align-self: center;
      margin-top: 2%;
      border: none;
      border-bottom:2px solid #888888;
      background-color: #313840;
      font-size: 20px;
  }
  footer form .btn{
      color: #888888;
      padding: 10px;
      background-color: #313840;
      border:2px solid #888888;
      margin-top: 3%;
  }
  .details{
      color: #888888;
      text-align: left;
      display: flex;
      align-items: center;
  }
  .details h4{
      margin: 0;
  }
  .details a{
      color: #888888;
  }

  /*about css*/
  .about_hero{
    background: url("../images/online_therapy.jpg") no-repeat center center/cover;
    height: 580px;
  }
  .our_mission{
      margin:10px 10%;
      border-bottom: 2px solid #313840;
  }
  section{
      text-align: center;
  }
  .our_mission p{
      text-align: justify;
      font-size: 1.5em;
  }
  .developers div img{
      border-radius: 100%;
  }
  
